<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nnlightctl.dao.EleboxModelMapper">
    <resultMap id="BaseResultMap" type="com.nnlightctl.po.EleboxModel">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_updated" property="gmtUpdated" jdbcType="TIMESTAMP"/>
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="model_code" property="modelCode" jdbcType="VARCHAR"/>
        <result column="model_name" property="modelName" jdbcType="VARCHAR"/>
        <result column="power_rating" property="powerRating" jdbcType="DECIMAL"/>
        <result column="electric_rating" property="electricRating" jdbcType="DECIMAL"/>
        <result column="voltage_rating" property="voltageRating" jdbcType="DECIMAL"/>
        <result column="air_switch_type" property="airSwitchType" jdbcType="VARCHAR"/>
        <result column="contactor_type" property="contactorType" jdbcType="VARCHAR"/>
        <result column="loop_count" property="loopCount" jdbcType="TINYINT"/>
        <result column="nnlightctl_elebox_id" property="nnlightctlEleboxId" jdbcType="BIGINT"/>
        <result column="ac" property="ac" jdbcType="VARCHAR"/>
        <result column="loop_electricity" property="loopElectricity" jdbcType="DECIMAL"/>
        <result column="communication_methods" property="communicationMethods" jdbcType="VARCHAR"/>
        <result column="max_electric" property="maxElectric" jdbcType="VARCHAR"/>
        <result column="load_electric" property="loadElectric" jdbcType="VARCHAR"/>
        <result column="installation_methods" property="installationMethods" jdbcType="VARCHAR"/>
        <result column="mem" property="mem" jdbcType="VARCHAR"/>
        <result column="model_type" property="modelType" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, gmt_created, gmt_updated, uid, model_code, model_name, power_rating, electric_rating, 
    voltage_rating, air_switch_type, contactor_type, loop_count, nnlightctl_elebox_id, 
    ac, loop_electricity,communication_methods,max_electric,load_electric,installation_methods,mem,model_type
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nnlightctl.po.EleboxModelExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from nnlightctl_elebox_model
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from nnlightctl_elebox_model
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectModelIdByEleboxId"   parameterType="java.lang.Long" resultType="java.lang.Long">
      select  id from nnlightctl_elebox_model where nnlightctl_elebox_id = #{eleboxId,jdbcType=BIGINT}
    </select>


    <select id="deployEleboxListCount" resultType="java.lang.Integer"
            parameterType="com.nnlightctl.request.deployRequest.DeployEleboxRequest">
        SELECT sum(ner.count) as count from (SELECT COUNT(*) AS count FROM `nnlightctl_elebox_relation` ner
        left join nnlightctl_elebox  ne on ner.elebox_id = ne.id where 1=1
        <if test="id != null">
            and ne.id = #{id}
        </if>
        <if test="codeNumber != null">
            and ne.code_number = #{codeNumber}
        </if>
        GROUP BY elebox_id) ner
    </select>

    <select id="deployEleboxList" resultType="com.nnlightctl.vo.DeployEleboxView"
            parameterType="com.nnlightctl.request.deployRequest.DeployEleboxRequest">
        SELECT
        sum(if(ner.elebox_model_type = 1, 1, 0)) as modleCount,
        sum(if(ner.elebox_model_type = 2, 1, 0)) as centralizeControllerCount,
        sum(if(ner.elebox_model_type = 3, 1, 0)) as electricityMeterCount,
        sum(if(ner.elebox_model_type = 4, 1, 0)) as photoperiodCount,
        ne.uid as codeNumber,ne.longitude,ne.latitude,ne.mem,
        np.project_name projectName,ne.id
        FROM `nnlightctl_elebox_relation` ner left join nnlightctl_elebox ne on ner.elebox_id = ne.id
        left join nnlightctl_project np on ne.nnlightctl_project_id = np.id where 1=1
        <if test="id != null">
            and ne.id = #{id}
        </if>
        <if test="codeNumber != null">
            and ne.code_number = #{codeNumber}
        </if>
        GROUP BY elebox_id ORDER BY ner.gmt_created DESC

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nnlightctl_elebox_model
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.nnlightctl.po.EleboxModelExample">
        delete from nnlightctl_elebox_model
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.nnlightctl.po.EleboxModel">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into nnlightctl_elebox_model (gmt_created, gmt_updated, uid,
        model_code, model_name, power_rating,
        electric_rating, voltage_rating, air_switch_type,
        contactor_type, loop_count, nnlightctl_elebox_id,
        ac, loop_electricity)
        values (#{gmtCreated,jdbcType=TIMESTAMP}, #{gmtUpdated,jdbcType=TIMESTAMP}, #{uid,jdbcType=VARCHAR},
        #{modelCode,jdbcType=VARCHAR}, #{modelName,jdbcType=VARCHAR}, #{powerRating,jdbcType=DECIMAL},
        #{electricRating,jdbcType=DECIMAL}, #{voltageRating,jdbcType=DECIMAL}, #{airSwitchType,jdbcType=VARCHAR},
        #{contactorType,jdbcType=VARCHAR}, #{loopCount,jdbcType=TINYINT}, #{nnlightctlEleboxId,jdbcType=BIGINT},
        #{ac,jdbcType=VARCHAR}, #{loopElectricity,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="com.nnlightctl.po.EleboxModel">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into nnlightctl_elebox_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gmtCreated != null">
                gmt_created,
            </if>
            <if test="gmtUpdated != null">
                gmt_updated,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="modelCode != null">
                model_code,
            </if>
            <if test="modelName != null">
                model_name,
            </if>
            <if test="powerRating != null">
                power_rating,
            </if>
            <if test="electricRating != null">
                electric_rating,
            </if>
            <if test="voltageRating != null">
                voltage_rating,
            </if>
            <if test="airSwitchType != null">
                air_switch_type,
            </if>
            <if test="contactorType != null">
                contactor_type,
            </if>
            <if test="loopCount != null">
                loop_count,
            </if>
            <if test="nnlightctlEleboxId != null">
                nnlightctl_elebox_id,
            </if>
            <if test="ac != null">
                ac,
            </if>
            <if test="loopElectricity != null">
                loop_electricity,
            </if>
            <if test="communicationMethods != null">
                communication_methods,
            </if>
            <if test="maxElectric != null">
                max_electric,
            </if>
            <if test="loadElectric != null">
                load_electric,
            </if>
            <if test="installationMethods != null">
                installation_methods,
            </if>
            <if test="mem != null">
                mem,
            </if>
            <if test="modelType != null">
                model_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gmtCreated != null">
                #{gmtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdated != null">
                #{gmtUpdated,jdbcType=TIMESTAMP},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="modelCode != null">
                #{modelCode,jdbcType=VARCHAR},
            </if>
            <if test="modelName != null">
                #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="powerRating != null">
                #{powerRating,jdbcType=DECIMAL},
            </if>
            <if test="electricRating != null">
                #{electricRating,jdbcType=DECIMAL},
            </if>
            <if test="voltageRating != null">
                #{voltageRating,jdbcType=DECIMAL},
            </if>
            <if test="airSwitchType != null">
                #{airSwitchType,jdbcType=VARCHAR},
            </if>
            <if test="contactorType != null">
                #{contactorType,jdbcType=VARCHAR},
            </if>
            <if test="loopCount != null">
                #{loopCount,jdbcType=TINYINT},
            </if>
            <if test="nnlightctlEleboxId != null">
                #{nnlightctlEleboxId,jdbcType=BIGINT},
            </if>
            <if test="ac != null">
                #{ac,jdbcType=VARCHAR},
            </if>
            <if test="loopElectricity != null">
                #{loopElectricity,jdbcType=DECIMAL},
            </if>
            <if test="communicationMethods != null">
                #{communicationMethods,jdbcType=VARCHAR},
            </if>
            <if test="maxElectric != null">
                #{maxElectric,jdbcType=VARCHAR},
            </if>
            <if test="loadElectric != null">
                #{loadElectric,jdbcType=VARCHAR},
            </if>
            <if test="installationMethods != null">
                #{installationMethods,jdbcType=VARCHAR},
            </if>
            <if test="mem != null">
                #{mem,jdbcType=VARCHAR},
            </if>
            <if test="modelType != null">
                #{modelType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.nnlightctl.po.EleboxModelExample" resultType="java.lang.Integer">
        select count(*) from nnlightctl_elebox_model
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <update id="modifyEleboxId" parameterType="java.lang.Long">
       update nnlightctl_elebox_model SET  nnlightctl_elebox_id = null,deploy_status = 0  where nnlightctl_elebox_id = #{nnlightctlEleboxId,jdbcType=BIGINT};
  </update>


    <update id="updateByExampleSelective" parameterType="map">
        update nnlightctl_elebox_model
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.gmtCreated != null">
                gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="record.gmtUpdated != null">
                gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
            </if>
            <if test="record.uid != null">
                uid = #{record.uid,jdbcType=VARCHAR},
            </if>
            <if test="record.modelCode != null">
                model_code = #{record.modelCode,jdbcType=VARCHAR},
            </if>
            <if test="record.modelName != null">
                model_name = #{record.modelName,jdbcType=VARCHAR},
            </if>
            <if test="record.powerRating != null">
                power_rating = #{record.powerRating,jdbcType=DECIMAL},
            </if>
            <if test="record.electricRating != null">
                electric_rating = #{record.electricRating,jdbcType=DECIMAL},
            </if>
            <if test="record.voltageRating != null">
                voltage_rating = #{record.voltageRating,jdbcType=DECIMAL},
            </if>
            <if test="record.airSwitchType != null">
                air_switch_type = #{record.airSwitchType,jdbcType=VARCHAR},
            </if>
            <if test="record.contactorType != null">
                contactor_type = #{record.contactorType,jdbcType=VARCHAR},
            </if>
            <if test="record.loopCount != null">
                loop_count = #{record.loopCount,jdbcType=TINYINT},
            </if>
            <if test="record.nnlightctlEleboxId != null">
                nnlightctl_elebox_id = #{record.nnlightctlEleboxId,jdbcType=BIGINT},
            </if>
            <if test="record.ac != null">
                ac = #{record.ac,jdbcType=VARCHAR},
            </if>
            <if test="record.loopElectricity != null">
                loop_electricity = #{record.loopElectricity,jdbcType=DECIMAL},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update nnlightctl_elebox_model
        set id = #{record.id,jdbcType=BIGINT},
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
        gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
        uid = #{record.uid,jdbcType=VARCHAR},
        model_code = #{record.modelCode,jdbcType=VARCHAR},
        model_name = #{record.modelName,jdbcType=VARCHAR},
        power_rating = #{record.powerRating,jdbcType=DECIMAL},
        electric_rating = #{record.electricRating,jdbcType=DECIMAL},
        voltage_rating = #{record.voltageRating,jdbcType=DECIMAL},
        air_switch_type = #{record.airSwitchType,jdbcType=VARCHAR},
        contactor_type = #{record.contactorType,jdbcType=VARCHAR},
        loop_count = #{record.loopCount,jdbcType=TINYINT},
        nnlightctl_elebox_id = #{record.nnlightctlEleboxId,jdbcType=BIGINT},
        ac = #{record.ac,jdbcType=VARCHAR},
        loop_electricity = #{record.loopElectricity,jdbcType=DECIMAL}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.nnlightctl.po.EleboxModel">
        update nnlightctl_elebox_model
        <set>
            <if test="gmtCreated != null">
                gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdated != null">
                gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=VARCHAR},
            </if>
            <if test="modelCode != null">
                model_code = #{modelCode,jdbcType=VARCHAR},
            </if>
            <if test="modelName != null">
                model_name = #{modelName,jdbcType=VARCHAR},
            </if>
            <if test="powerRating != null">
                power_rating = #{powerRating,jdbcType=DECIMAL},
            </if>
            <if test="electricRating != null">
                electric_rating = #{electricRating,jdbcType=DECIMAL},
            </if>
            <if test="voltageRating != null">
                voltage_rating = #{voltageRating,jdbcType=DECIMAL},
            </if>
            <if test="airSwitchType != null">
                air_switch_type = #{airSwitchType,jdbcType=VARCHAR},
            </if>
            <if test="contactorType != null">
                contactor_type = #{contactorType,jdbcType=VARCHAR},
            </if>
            <if test="loopCount != null">
                loop_count = #{loopCount,jdbcType=TINYINT},
            </if>
            <if test="nnlightctlEleboxId != null">
                nnlightctl_elebox_id = #{nnlightctlEleboxId,jdbcType=BIGINT},
            </if>
            <if test="ac != null">
                ac = #{ac,jdbcType=VARCHAR},
            </if>
            <if test="loopElectricity != null">
                loop_electricity = #{loopElectricity,jdbcType=DECIMAL},
            </if>
            <if test="communicationMethods != null">
                communication_methods = #{communicationMethods,jdbcType=VARCHAR},
            </if>
            <if test="maxElectric != null">
                max_electric = #{maxElectric,jdbcType=VARCHAR},
            </if>
            <if test="loadElectric != null">
                load_electric = #{loadElectric,jdbcType=VARCHAR},
            </if>
            <if test="installationMethods != null">
                installation_methods = #{installationMethods,jdbcType=VARCHAR},
            </if>
            <if test="mem != null">
                mem = #{mem,jdbcType=VARCHAR},
            </if>
            <if test="modelType != null">
                model_type = #{modelType,jdbcType=VARCHAR},
            </if>
            <if test="deployStatus != null">
                deploy_status = #{deployStatus,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.nnlightctl.po.EleboxModel">
    update nnlightctl_elebox_model
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=VARCHAR},
      model_code = #{modelCode,jdbcType=VARCHAR},
      model_name = #{modelName,jdbcType=VARCHAR},
      power_rating = #{powerRating,jdbcType=DECIMAL},
      electric_rating = #{electricRating,jdbcType=DECIMAL},
      voltage_rating = #{voltageRating,jdbcType=DECIMAL},
      air_switch_type = #{airSwitchType,jdbcType=VARCHAR},
      contactor_type = #{contactorType,jdbcType=VARCHAR},
      loop_count = #{loopCount,jdbcType=TINYINT},
      nnlightctl_elebox_id = #{nnlightctlEleboxId,jdbcType=BIGINT},
      ac = #{ac,jdbcType=VARCHAR},
      loop_electricity = #{loopElectricity,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>