<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nnlightctl.dao.EleboxModelLoopMapper" >
  <resultMap id="BaseResultMap" type="com.nnlightctl.po.EleboxModelLoop" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_updated" property="gmtUpdated" jdbcType="TIMESTAMP" />
    <result column="voltage" property="voltage" jdbcType="DECIMAL" />
    <result column="electricity" property="electricity" jdbcType="DECIMAL" />
    <result column="light_count" property="lightCount" jdbcType="TINYINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="nnlightctl_elebox_model_id" property="nnlightctlEleboxModelId" jdbcType="BIGINT" />
    <result column="loop_code" property="loopCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_updated, voltage, electricity, light_count, state, nnlightctl_elebox_model_id, 
    loop_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nnlightctl.po.EleboxModelLoopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from nnlightctl_elebox_model_loop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from nnlightctl_elebox_model_loop
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from nnlightctl_elebox_model_loop
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.nnlightctl.po.EleboxModelLoopExample" >
    delete from nnlightctl_elebox_model_loop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nnlightctl.po.EleboxModelLoop" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nnlightctl_elebox_model_loop (gmt_created, gmt_updated, voltage, 
      electricity, light_count, state, 
      nnlightctl_elebox_model_id, loop_code)
    values (#{gmtCreated,jdbcType=TIMESTAMP}, #{gmtUpdated,jdbcType=TIMESTAMP}, #{voltage,jdbcType=DECIMAL}, 
      #{electricity,jdbcType=DECIMAL}, #{lightCount,jdbcType=TINYINT}, #{state,jdbcType=TINYINT}, 
      #{nnlightctlEleboxModelId,jdbcType=BIGINT}, #{loopCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nnlightctl.po.EleboxModelLoop" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nnlightctl_elebox_model_loop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated,
      </if>
      <if test="voltage != null" >
        voltage,
      </if>
      <if test="electricity != null" >
        electricity,
      </if>
      <if test="lightCount != null" >
        light_count,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="nnlightctlEleboxModelId != null" >
        nnlightctl_elebox_model_id,
      </if>
      <if test="loopCode != null" >
        loop_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="voltage != null" >
        #{voltage,jdbcType=DECIMAL},
      </if>
      <if test="electricity != null" >
        #{electricity,jdbcType=DECIMAL},
      </if>
      <if test="lightCount != null" >
        #{lightCount,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="nnlightctlEleboxModelId != null" >
        #{nnlightctlEleboxModelId,jdbcType=BIGINT},
      </if>
      <if test="loopCode != null" >
        #{loopCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nnlightctl.po.EleboxModelLoopExample" resultType="java.lang.Integer" >
    select count(*) from nnlightctl_elebox_model_loop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nnlightctl_elebox_model_loop
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtUpdated != null" >
        gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.voltage != null" >
        voltage = #{record.voltage,jdbcType=DECIMAL},
      </if>
      <if test="record.electricity != null" >
        electricity = #{record.electricity,jdbcType=DECIMAL},
      </if>
      <if test="record.lightCount != null" >
        light_count = #{record.lightCount,jdbcType=TINYINT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.nnlightctlEleboxModelId != null" >
        nnlightctl_elebox_model_id = #{record.nnlightctlEleboxModelId,jdbcType=BIGINT},
      </if>
      <if test="record.loopCode != null" >
        loop_code = #{record.loopCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nnlightctl_elebox_model_loop
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      voltage = #{record.voltage,jdbcType=DECIMAL},
      electricity = #{record.electricity,jdbcType=DECIMAL},
      light_count = #{record.lightCount,jdbcType=TINYINT},
      state = #{record.state,jdbcType=TINYINT},
      nnlightctl_elebox_model_id = #{record.nnlightctlEleboxModelId,jdbcType=BIGINT},
      loop_code = #{record.loopCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nnlightctl.po.EleboxModelLoop" >
    update nnlightctl_elebox_model_loop
    <set >
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="voltage != null" >
        voltage = #{voltage,jdbcType=DECIMAL},
      </if>
      <if test="electricity != null" >
        electricity = #{electricity,jdbcType=DECIMAL},
      </if>
      <if test="lightCount != null" >
        light_count = #{lightCount,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="nnlightctlEleboxModelId != null" >
        nnlightctl_elebox_model_id = #{nnlightctlEleboxModelId,jdbcType=BIGINT},
      </if>
      <if test="loopCode != null" >
        loop_code = #{loopCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nnlightctl.po.EleboxModelLoop" >
    update nnlightctl_elebox_model_loop
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      voltage = #{voltage,jdbcType=DECIMAL},
      electricity = #{electricity,jdbcType=DECIMAL},
      light_count = #{lightCount,jdbcType=TINYINT},
      state = #{state,jdbcType=TINYINT},
      nnlightctl_elebox_model_id = #{nnlightctlEleboxModelId,jdbcType=BIGINT},
      loop_code = #{loopCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>