<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nnlightctl.dao.LamppostMapper" >
    <resultMap id="BaseResultMap" type="com.nnlightctl.po.Lamppost" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="equipment_number" jdbcType="VARCHAR" property="equipmentNumber"/>
        <result column="lamppost_model" property="lamppostModel" jdbcType="VARCHAR" />
        <result column="lampost_name" property="lampostName" jdbcType="VARCHAR" />
        <result column="high" property="high" jdbcType="DECIMAL" />
        <result column="lamphead_number" property="lampheadNumber" jdbcType="INTEGER" />
        <result column="longitude" property="longitude" jdbcType="VARCHAR" />
        <result column="latitude" property="latitude" jdbcType="VARCHAR" />
        <result column="materima" property="materima" jdbcType="VARCHAR" />
        <result column="land" property="land" jdbcType="INTEGER" />
        <result column="lamphead_color" property="lampheadColor" jdbcType="VARCHAR"/>
        <result column="mem" property="mem" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="INTEGER" />
    </resultMap>
    <insert id="insertLamppost"  parameterType="com.nnlightctl.po.Lamppost">
        insert into nnlightctl_lamppost
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="lamppostModel != null" >
                lamppost_model,
            </if>
            <if test="lampostName != null" >
                lampost_name,
            </if>
            <if test="high != null" >
                high,
            </if>
            <if test="lampheadNumber != null" >
                lamphead_number,
            </if>
            <if test="longitude != null" >
                longitude,
            </if>
            <if test="latitude != null" >
                latitude,
            </if>
            <if test="materima !=null">
                materima,
            </if>
            <if test="land !=null">
                land,
            </if>
            <if test="lampheadColor !=null">
                lamphead_color,
            </if>
            <if test="mem != null" >
                mem,
            </if>
            <if test="equipmentNumber !=null">
                equipment_number,
            </if>
            <if test="state !=null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="lamppostModel != null" >
                #{lamppostModel,jdbcType=VARCHAR},
            </if>
            <if test="lampostName != null" >
                #{lampostName,jdbcType=VARCHAR},
            </if>
            <if test="high != null" >
                #{high,jdbcType=DECIMAL},
            </if>
            <if test="lampheadNumber != null" >
                #{lampheadNumber,jdbcType=INTEGER},
            </if>
            <if test="longitude != null" >
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null" >
                #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="materima !=null">
                #{materima,jdbcType=VARCHAR},
            </if>
            <if test="land !=null">
                #{land,jdbcType=DECIMAL},
            </if>
            <if test="lampheadColor !=null">
                #{lampheadColor,jdbcType=VARCHAR},
            </if>
            <if test="mem != null" >
                #{mem,jdbcType=VARCHAR},
            </if>
            <if test="equipmentNumber !=null">
                #{equipmentNumber,jdbcType=VARCHAR},
            </if>
            <if test="state !=null">
              #{state,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeyLamppost" parameterType="com.nnlightctl.po.Lamppost">
         update nnlightctl_lamppost
         <set>
             <if test="lamppostModel != null" >
                 lamppost_model=#{lamppostModel,jdbcType=VARCHAR},
             </if>
             <if test="lampostName != null" >
                 lampost_name=#{lampostName,jdbcType=VARCHAR},
             </if>
             <if test="high != null" >
                 high=#{high,jdbcType=DECIMAL},
             </if>
             <if test="lampheadNumber != null" >
                 lamphead_number=#{lampheadNumber,jdbcType=INTEGER},
             </if>
             <if test="longitude != null" >
                 longitude=#{longitude,jdbcType=VARCHAR},
             </if>
             <if test="latitude != null" >
                 latitude=#{latitude,jdbcType=VARCHAR},
             </if>
             <if test="materima !=null">
                 materima=#{materima,jdbcType=VARCHAR},
             </if>
             <if test="land !=null">
                 land=#{land,jdbcType=INTEGER},
             </if>
             <if test="lampheadColor !=null">
                 lamphead_color=#{lampheadColor,jdbcType=VARCHAR},
             </if>
             <if test="mem != null" >
                 mem=#{mem,jdbcType=VARCHAR},
             </if>
             <if test="equipmentNumber !=null">
                 equipment_number=#{equipmentNumber,jdbcType=VARCHAR},
             </if>
             <if test="state !=null">
                  state=#{state,jdbcType=INTEGER},
             </if>
         </set>
           where id = #{id,jdbcType=BIGINT}
  </update>



    <delete id="deleteByPrimaryKeyLamppost" parameterType="long">
    delete from nnlightctl_lamppost
    where id = #{id,jdbcType=BIGINT}
    </delete>
    <select id="selectByCountLamppost" resultType="java.lang.Integer">
        select count(*) from nnlightctl_photoperiod
    </select>

    <sql id="Base_Column_List">
        id,lamppost_model,lampost_name,high,lamphead_number,longitude
        ,latitude,materima,land,lamphead_color,mem,equipment_number
    </sql>
    <select id="selectAllLamppost" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List" />
         from nnlightctl_lamppost
         <where>
             <if test="lamppost.equipmentNumber !=null">
                AND equipment_number like concat('%',#{lamppost.equipmentNumber},'%')
             </if>
             <if test="lamppost.lampostName !=null">
               AND  lampost_name like concat('%',#{lamppost.lampostName},'%')
             </if>
             <if test="lamppost.lamppostModel !=null">
               AND  lamppost_model like concat('%',#{lamppost.lamppostModel},'%')
             </if>
         </where>
         order by id desc
    </select>
    <select id="selectLampById" resultMap="BaseResultMap" resultType="com.nnlightctl.po.Lamppost">
        select <include refid="Base_Column_List" />
        from nnlightctl_lamppost
        <where>
            <if test="id !=null">
                id=#{id,jdbcType=BIGINT}
            </if>
        </where>
    </select>


</mapper>