<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nnlightctl.dao.LampControllerMapper" >
    <resultMap id="BaseResultMap" type="com.nnlightctl.po.LampController" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="equipment_number" property="equipmentNumber" jdbcType="VARCHAR"/>
        <result column="lamp_model" property="lampName" jdbcType="VARCHAR" />
        <result column="lamp_name" property="lampModel" jdbcType="VARCHAR" />
        <result column="longitude" property="longitude" jdbcType="VARCHAR" />
        <result column="latitude" property="latitude" jdbcType="VARCHAR" />
        <result column="communication_mode" property="communicationMode" jdbcType="VARCHAR" />
        <result column="dimming_mode" property="dimmingMode" jdbcType="INTEGER" />
        <result column="rated_voltage" property="ratedVoltage" jdbcType="DECIMAL" />
        <result column="rated_current" property="ratedCurrent" jdbcType="DECIMAL" />
        <result column="static_power" property="staticPower" jdbcType="DECIMAL"/>
        <result column="alarm_message" property="alarmMessage" jdbcType="VARCHAR" />
        <result column="mem" property="mem" jdbcType="VARCHAR" />
        <result column="model_deploy_state" property="modelDeployState" jdbcType="TINYINT" />
        <result column="deploy_state" property="deployState" jdbcType="INTEGER" />
        <!--维护的外键-->
        <result column="nnlightctl_lamppost_id" jdbcType="INTEGER" property="nnlightctlLamppostId" />
        <result column="nnlightctl_lamp_model_id" jdbcType="INTEGER" property="nnlightctlLampModelId" />
        <result column="nnlightctl_project_id" jdbcType="INTEGER" property="nnlightctlProjectId"/>
    </resultMap>
    <insert id="insert" parameterType="com.nnlightctl.po.LampController">
        insert into nnlightctl_lamp_controller
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="lampModel != null" >
                lamp_model,
            </if>
            <if test="lampName != null" >
                lamp_name,
            </if>
            <if test="longitude != null" >
                longitude,
            </if>
            <if test="latitude != null" >
                latitude,
            </if>
            <if test="communicationMode != null" >
                communication_mode,
            </if>
            <if test="dimmingMode != null" >
                dimming_mode,
            </if>
            <if test="ratedVoltage !=null">
                rated_voltage,
            </if>
            <if test="ratedCurrent !=null">
                rated_current,
            </if>
            <if test="staticPower !=null">
                static_power,
            </if>
            <if test="alarmMessage != null" >
                alarm_message,
            </if>
            <if test="mem !=null">
                mem,
            </if>
            <if test="equipmentNumber !=null">
                equipment_number,
            </if>
            <if test="deployState">
                deploy_state,
            </if>
            /*维护的外键*/
            <if test="nnlightctlLamppostId != null">
                nnlightctl_lamppost_id,
            </if>
            <if test="nnlightctlLampModelId != null">
                nnlightctl_lamp_model_id,
            </if>
            <if test="nnlightctlProjectId !=null">
                nnlightctl_project_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="lampModel != null" >
                #{lampModel,jdbcType=VARCHAR},
            </if>
            <if test="lampName != null" >
                #{lampName,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null" >
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null" >
                #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="communicationMode != null" >
                #{communicationMode,jdbcType=VARCHAR},
            </if>
            <if test="dimmingMode != null" >
                #{dimmingMode,jdbcType=INTEGER},
            </if>
            <if test="ratedVoltage !=null">
                #{ratedVoltage,jdbcType=DECIMAL},
            </if>
            <if test="ratedCurrent !=null">
                #{ratedCurrent,jdbcType=DECIMAL},
            </if>
            <if test="staticPower !=null">
                #{staticPower,jdbcType=DECIMAL},
            </if>
            <if test="alarmMessage != null" >
                #{alarmMessage,jdbcType=VARCHAR},
            </if>
            <if test="mem !=null">
                #{mem,jdbcType=VARCHAR},
            </if>
            <if test="equipmentNumber !=null">
                #{equipmentNumber,jdbcType=VARCHAR},
            </if>
            <if test="deployState !=null">
                #{deployState,jdbcType=INTEGER},
            </if>
            /*维护的外键*/
            <if test="nnlightctlLamppostId != null">
                #{nnlightctlLamppostId,jdbcType=INTEGER},
            </if>
            <if test="nnlightctlLampModelId != null">
                #{nnlightctlLampModelId,jdbcType=INTEGER},
            </if>
            <if test="nnlightctlProjectId !=null">
                #{nnlightctlProjectId,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.nnlightctl.po.LampController">
         update nnlightctl_lamp_controller
         <set>
             <if test="lampModel != null" >
                 lamp_model=#{lampModel,jdbcType=VARCHAR},
             </if>
             <if test="lampName != null" >
                 lamp_name=#{lampName,jdbcType=VARCHAR},
             </if>
             <if test="longitude != null" >
                 longitude=#{longitude,jdbcType=VARCHAR},
             </if>
             <if test="latitude != null" >
                latitude=#{latitude,jdbcType=VARCHAR},
             </if>
             <if test="communicationMode != null" >
                 communication_mode=#{communicationMode,jdbcType=VARCHAR},
             </if>
             <if test="dimmingMode != null" >
                 dimming_mode=#{dimmingMode,jdbcType=INTEGER},
             </if>
             <if test="ratedVoltage !=null">
                 rated_voltage=#{ratedVoltage,jdbcType=DECIMAL},
             </if>
             <if test="ratedCurrent !=null">
                 rated_current=#{ratedCurrent,jdbcType=DECIMAL},
             </if>
             <if test="staticPower !=null">
                 static_power=#{staticPower,jdbcType=DECIMAL},
             </if>
             <if test="alarmMessage != null" >
                 alarm_message=#{alarmMessage,jdbcType=VARCHAR},
             </if>
             <if test="mem !=null">
                mem=#{mem,jdbcType=VARCHAR},
             </if>
             <if test="equipmentNumber !=null">
                 equipment_number=#{equipmentNumber,jdbcType=VARCHAR},
             </if>
             <if test="deployState !=null">
                 deploy_state=#{deployState,jdbcType=INTEGER},
             </if>
             /*维护的外键*/
             <if test="nnlightctlLamppostId != null">
                 nnlightctl_lamppost_id = #{nnlightctlLamppostId,jdbcType=INTEGER},
             </if>
             <if test="nnlightctlLampModelId != null">
                 nnlightctl_lamp_model_id = #{nnlightctlLampModelId,jdbcType=INTEGER},
             </if>
             <if test="nnlightctlProjectId !=null">
                 nnlightctl_project_id=#{nnlightctlProjectId,jdbcType=INTEGER}
             </if>
             <if test="modelDeployState !=null">
                 model_deploy_state=#{modelDeployState,jdbcType=TINYINT}
             </if>
             <if test="nnlightctlEleboxId !=null">
                 nnlightctl_elebox_id=#{nnlightctlEleboxId,jdbcType=BIGINT}
             </if>
             <if test="nnlightctlEleboxLoopId !=null">
                 nnlightctl_elebox_loop_id=#{nnlightctlEleboxLoopId,jdbcType=BIGINT}
             </if>
         </set>
           where id = #{id,jdbcType=BIGINT}
  </update>

    <update id="updateByEleboxId" parameterType="java.lang.Long">
         update nnlightctl_lamp_controller set  nnlightctl_elebox_id = null ,nnlightctl_elebox_loop_id = null,model_deploy_state = 0
         where nnlightctl_elebox_id = #{eleboxId,jdbcType=BIGINT}

    </update>
    <update id="updateByDeployLightingState" parameterType="java.lang.Long">
        update nnlightctl_lamp_controller set nnlightctl_lamp_model_id=null ,

        nnlightctl_lamppost_id=null,nnlightctl_project_id=null ,deploy_state=0

        where id=#{id,jdbcType=INTEGER}


    </update>


    <delete id="deleteByPrimaryKey" parameterType="long">
    delete from nnlightctl_lamp_controller
    where id = #{id,jdbcType=BIGINT}
    </delete>
    <select id="selectByCount" resultType="java.lang.Integer">
        select count(*) from nnlightctl_lamp_controller
        <!--<where>
            <if test="deployState !=null">
                deploy_state=#{deployState,jdbcType=INTEGER}
            </if>
        </where>-->
    </select>
    <select id="queryLightingByLoop" resultType="java.lang.String" parameterType="java.lang.Long">
        select equipment_number as equipmentNumber   from nnlightctl_lamp_controller where nnlightctl_elebox_loop_id  = #{loopId,jdbcType=BIGINT}
    </select>
    <sql id="Base_Column_List">
        id,lamp_model,lamp_name,longitude,latitude,
        communication_mode,dimming_mode,rated_Voltage,
        rated_current,static_power,alarm_message,mem
        ,deploy_state,equipment_number
    </sql>
    <select id="selectAll" resultMap="BaseResultMap" resultType="com.nnlightctl.po.LampController">
        select
          <include refid="Base_Column_List" />
         from nnlightctl_lamp_controller
         <where>
             <if test="params.equipmentNumber !=null">
                equipment_number like concat('%',#{params.equipmentNumber},'%')
             </if>
         </where>
    </select>

    <select id="selectById" resultMap="BaseResultMap" resultType="com.nnlightctl.po.LampController">
        select  <include refid="Base_Column_List" />
        from nnlightctl_lamp_controller
        <where>
            <if test="id !=null">
                id=#{id,jdbcType=BIGINT}
            </if>
        </where>

    </select>
    <select id="selectByParameter" resultMap="BaseResultMap" resultType="com.nnlightctl.po.LampController">
        select <include refid="Base_Column_List" />
        from nnlightctl_lamp_controller
        <where>
            <if test="params.lampModel !=null">
                lamp_model like concat('%',#{params.lampModel},'%')
            </if>
            <if test="params.lampName !=null">
               AND lamp_name like concat('%',#{params.lampName},'%')
            </if>
            <if test="params.longitude !=null">
               AND longitude like concat('%',#{params.longitude},'%')
            </if>
            <if test="params.latitude !=null">
               AND latitude like concat('%',#{params.latitude},'%')
            </if>
            <if test="params.communicationMode !=null">
               AND communication_mode like concat('%',#{params.communicationMode},'%')
            </if>
            <if test="params.dimmingMode !=null">
              AND dimming_mode like concat('%',#{params.dimmingMode},'%')
            </if>
        </where>
    </select>
    <select id="selectByExampleDeployLighting" resultType="com.nnlightctl.vo.DeployLightingView" parameterType="java.lang.String">
        select
        controller.id as id,controller.equipment_number as  equipmentNumber,controller.lamp_model as lampModel ,
        controller.static_power as staticPower,controller.mem as mem,lamppost.lamppost_model as lamppostModel,
        lamppost.lamphead_number as lampheadNumber ,p.project_name as projectName,model.equipment_number as modelType
        from
        nnlightctl_lamp_controller  controller left join nnlightctl_lamppost  lamppost on  controller.nnlightctl_lamppost_id =
        lamppost.id  left join  nnlightctl_lighting_model  model on  model.id  = controller.nnlightctl_lamp_model_id
        left join nnlightctl_project p on p.id =  controller.nnlightctl_project_id

        where  controller.deploy_state=1
        <if test="equipmentNumber !=null">
            equipment_number like concat('%',#{equipmentNumber},'%')
        </if>
        order by controller.id DESC
    </select>
    <select id="queryLightingUnLoop"  resultType="java.util.Map">
        select equipment_number as equipmentNumber ,id   from nnlightctl_lamp_controller  where deploy_state=1 and model_deploy_state = 0  ORDER BY  id DESC
    </select>


    <select id="selectByLampModel" resultMap="BaseResultMap" resultType="com.nnlightctl.po.LampController">

        select id,equipment_number,mem,static_power from nnlightctl_lamp_controller
        <where>
            <if test="lampModel !=null">
                lamp_model=#{lampModel,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectByIdDeployLighting" resultType="com.nnlightctl.vo.DeployLightingView">
          select
          controller.id as id,
		  controller.equipment_number as  equipmentNumber,controller.lamp_model as lampModel ,
		  controller.static_power as staticPower,controller.mem as mem,lamppost.lamppost_model as lamppostModel,
          lamppost.lamphead_number as lampheadNumber ,p.project_name as projectName,model.equipment_number as modelType
          from
            nnlightctl_lamp_controller  controller left join nnlightctl_lamppost  lamppost on  controller.nnlightctl_lamppost_id =
			lamppost.id  left join  nnlightctl_lighting_model  model on  model.id  = controller.nnlightctl_lamp_model_id
			left join nnlightctl_project p on p.id =  controller.nnlightctl_project_id

        where  controller.deploy_state=1 and controller.id=#{id,jdbcType=INTEGER}



    </select>




</mapper>