<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nnlightctl.dao.LampControllerMapper" >
    <resultMap id="BaseResultMap" type="com.nnlightctl.po.LampController" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="lampName" property="lampName" jdbcType="VARCHAR" />
        <result column="lampModel" property="lampModel" jdbcType="VARCHAR" />
        <result column="longitude" property="longitude" jdbcType="VARCHAR" />
        <result column="latitude" property="latitude" jdbcType="VARCHAR" />
        <result column="communicationMode" property="communicationMode" jdbcType="VARCHAR" />
        <result column="dimmingMode" property="dimmingMode" jdbcType="INTEGER" />
        <result column="ratedVoltage" property="ratedVoltage" jdbcType="DECIMAL" />
        <result column="ratedCurrent" property="ratedCurrent" jdbcType="DECIMAL" />
        <result column="staticPower" property="staticPower" jdbcType="DECIMAL"/>
        <result column="alarmMessage" property="alarmMessage" jdbcType="VARCHAR" />
        <result column="mem" property="mem" jdbcType="VARCHAR" />
    </resultMap>
    <insert id="insert" parameterType="com.nnlightctl.po.Lamppost">
        insert into nnlightctl_lamppost
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="lamppostModel != null" >
                lamppost_model,
            </if>
            <if test="lampostName != null" >
                lampost_name,
            </if>
            <if test="high != null" >
                high,
            </if>
            <if test="lampheadNumber != null" >
                lamphead_number,
            </if>
            <if test="longitude != null" >
                longitude,
            </if>
            <if test="latitude != null" >
                latitude,
            </if>
            <if test="materima !=null">
                materima,
            </if>
            <if test="land !=null">
                land,
            </if>
            <if test="lampheadColor !=null">
                lamphead_color,
            </if>
            <if test="mem != null" >
                mem,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="lamppostModel != null" >
                lamppost_model=#{lamppostModel,jdbcType=VARCHAR},
            </if>
            <if test="lampostName != null" >
                lampost_name=#{lampostName,jdbcType=VARCHAR},
            </if>
            <if test="high != null" >
                high=#{high,jdbcType=DECIMAL},
            </if>
            <if test="lampheadNumber != null" >
                lamphead_number=#{lampheadNumber,jdbcType=INTEGER},
            </if>
            <if test="longitude != null" >
                longitude=#{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null" >
                latitude=#{latitude,jdbcType=VARCHAR},
            </if>
            <if test="materima !=null">
                materima=#{materima,jdbcType=VARCHAR},
            </if>
            <if test="land !=null">
                land=#{land,jdbcType=DECIMAL},
            </if>
            <if test="lampheadColor !=null">
                lamphead_color=#{lampheadColor,jdbcType=VARCHAR},
            </if>
            <if test="mem != null" >
                mem=#{mem,jdbcType="VARCHAR"}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.nnlightctl.po.Lamppost">
         update nnlightctl_lamppost
         <set>
             <if test="lamppostModel != null" >
                 lamppost_model=#{lamppostModel,jdbcType=VARCHAR},
             </if>
             <if test="lamppostName != null" >
                 lampost_name=#{lampostName,jdbcType=VARCHAR},
             </if>
             <if test="high != null" >
                 high=#{high,jdbcType=DECIMAL},
             </if>
             <if test="lampheadNumber != null" >
                 lamphead_number=#{lampheadNumber,jdbcType=INT},
             </if>
             <if test="longitude != null" >
                 longitude=#{longitude,jdbcType=VARCHAR},
             </if>
             <if test="latitude != null" >
                 latitude=#{latitude,jdbcType=VARCHAR},
             </if>
             <if test="materima !=null">
                 materima=#{materima,jdbcType=VARCHAR},
             </if>
             <if test="land !=null">
                 land=#{land,jdbcType=DECIMAL},
             </if>
             <if test="lampheadColor !=null">
                 lamphead_color=#{lampheadColor,jdbcType=VARCHAR},
             </if>
             <if test="mem != null" >
                 mem=#{mem,jdbcType="VARCHAR"},
             </if>
         </set>
           where id = #{id,jdbcType=BIGINT}
  </update>



    <delete id="deleteByPrimaryKey" parameterType="long">
    delete from nnlightctl_lamppost
    where id = #{id,jdbcType=BIGINT}
    </delete>
    <select id="selectByCount" resultType="java.lang.Integer">
        select count(*) from nnlightctl_photoperiod
    </select>

    <sql id="Base_Column_List">
        id,lamppost_model,lampost_name,high,lamphead_number,longitude
        ,latitude,materima,land,lamphead_color,mem
    </sql>
    <select id="selectAll" resultMap="BaseResultMap" resultType="com.nnlightctl.po.Lamppost">
        select
          <include refid="Base_Column_List" />
         from nnlightctl_lamppost
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="long" resultType="com.nnlightctl.po.LampController">
        select <include refid="Base_Column_List" />
        from nnlightctl_lamp_controller
        <where>
            <if test="id !=null">
                id=#{id}
            </if>
        </where>

    </select>


</mapper>