<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nnlightctl.dao.LightingVolEleRecordMapper" >
  <resultMap id="BaseResultMap" type="com.nnlightctl.po.LightingVolEleRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_updated" property="gmtUpdated" jdbcType="TIMESTAMP" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="record_datetime" property="recordDatetime" jdbcType="TIMESTAMP" />
    <result column="voltage" property="voltage" jdbcType="DECIMAL" />
    <result column="electricty" property="electricty" jdbcType="DECIMAL" />
    <result column="energy" property="energy" jdbcType="DECIMAL" />
    <result column="dampness" property="dampness" jdbcType="DECIMAL" />
    <result column="temperature" property="temperature" jdbcType="DECIMAL" />
    <result column="beam" property="beam" jdbcType="DECIMAL" />
    <result column="signal_intensity" property="signalIntensity" jdbcType="DECIMAL" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="in_electricity" property="inElectricity" jdbcType="VARCHAR" />
    <result column="in_voltage" property="inVoltage" jdbcType="VARCHAR" />
    <result column="elec_frequency" property="elecFrequency" jdbcType="VARCHAR" />
    <result column="in_active_power" property="inActivePower" jdbcType="VARCHAR" />
    <result column="in_reactive_power" property="inReactivePower" jdbcType="VARCHAR" />
    <result column="in_seen_power" property="inSeenPower" jdbcType="VARCHAR" />
    <result column="in_active_energy" property="inActiveEnergy" jdbcType="VARCHAR" />
    <result column="in_reactive_energy" property="inReactiveEnergy" jdbcType="VARCHAR" />
    <result column="in_seen_energy" property="inSeenEnergy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_updated, uid, record_datetime, voltage, electricty, energy, 
    dampness, temperature, beam, signal_intensity, longitude, latitude, in_electricity, 
    in_voltage, elec_frequency, in_active_power, in_reactive_power, in_seen_power, in_active_energy, 
    in_reactive_energy, in_seen_energy
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nnlightctl.po.LightingVolEleRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from nnlightctl_lighting_vol_ele_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from nnlightctl_lighting_vol_ele_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from nnlightctl_lighting_vol_ele_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.nnlightctl.po.LightingVolEleRecordExample" >
    delete from nnlightctl_lighting_vol_ele_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nnlightctl.po.LightingVolEleRecord" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nnlightctl_lighting_vol_ele_record (gmt_created, gmt_updated, uid, 
      record_datetime, voltage, electricty, 
      energy, dampness, temperature, 
      beam, signal_intensity, longitude, 
      latitude, in_electricity, in_voltage, 
      elec_frequency, in_active_power, in_reactive_power, 
      in_seen_power, in_active_energy, in_reactive_energy, 
      in_seen_energy)
    values (#{gmtCreated,jdbcType=TIMESTAMP}, #{gmtUpdated,jdbcType=TIMESTAMP}, #{uid,jdbcType=VARCHAR}, 
      #{recordDatetime,jdbcType=TIMESTAMP}, #{voltage,jdbcType=DECIMAL}, #{electricty,jdbcType=DECIMAL}, 
      #{energy,jdbcType=DECIMAL}, #{dampness,jdbcType=DECIMAL}, #{temperature,jdbcType=DECIMAL}, 
      #{beam,jdbcType=DECIMAL}, #{signalIntensity,jdbcType=DECIMAL}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{inElectricity,jdbcType=VARCHAR}, #{inVoltage,jdbcType=VARCHAR}, 
      #{elecFrequency,jdbcType=VARCHAR}, #{inActivePower,jdbcType=VARCHAR}, #{inReactivePower,jdbcType=VARCHAR}, 
      #{inSeenPower,jdbcType=VARCHAR}, #{inActiveEnergy,jdbcType=VARCHAR}, #{inReactiveEnergy,jdbcType=VARCHAR}, 
      #{inSeenEnergy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nnlightctl.po.LightingVolEleRecord" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nnlightctl_lighting_vol_ele_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="recordDatetime != null" >
        record_datetime,
      </if>
      <if test="voltage != null" >
        voltage,
      </if>
      <if test="electricty != null" >
        electricty,
      </if>
      <if test="energy != null" >
        energy,
      </if>
      <if test="dampness != null" >
        dampness,
      </if>
      <if test="temperature != null" >
        temperature,
      </if>
      <if test="beam != null" >
        beam,
      </if>
      <if test="signalIntensity != null" >
        signal_intensity,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="inElectricity != null" >
        in_electricity,
      </if>
      <if test="inVoltage != null" >
        in_voltage,
      </if>
      <if test="elecFrequency != null" >
        elec_frequency,
      </if>
      <if test="inActivePower != null" >
        in_active_power,
      </if>
      <if test="inReactivePower != null" >
        in_reactive_power,
      </if>
      <if test="inSeenPower != null" >
        in_seen_power,
      </if>
      <if test="inActiveEnergy != null" >
        in_active_energy,
      </if>
      <if test="inReactiveEnergy != null" >
        in_reactive_energy,
      </if>
      <if test="inSeenEnergy != null" >
        in_seen_energy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="recordDatetime != null" >
        #{recordDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="voltage != null" >
        #{voltage,jdbcType=DECIMAL},
      </if>
      <if test="electricty != null" >
        #{electricty,jdbcType=DECIMAL},
      </if>
      <if test="energy != null" >
        #{energy,jdbcType=DECIMAL},
      </if>
      <if test="dampness != null" >
        #{dampness,jdbcType=DECIMAL},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=DECIMAL},
      </if>
      <if test="beam != null" >
        #{beam,jdbcType=DECIMAL},
      </if>
      <if test="signalIntensity != null" >
        #{signalIntensity,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="inElectricity != null" >
        #{inElectricity,jdbcType=VARCHAR},
      </if>
      <if test="inVoltage != null" >
        #{inVoltage,jdbcType=VARCHAR},
      </if>
      <if test="elecFrequency != null" >
        #{elecFrequency,jdbcType=VARCHAR},
      </if>
      <if test="inActivePower != null" >
        #{inActivePower,jdbcType=VARCHAR},
      </if>
      <if test="inReactivePower != null" >
        #{inReactivePower,jdbcType=VARCHAR},
      </if>
      <if test="inSeenPower != null" >
        #{inSeenPower,jdbcType=VARCHAR},
      </if>
      <if test="inActiveEnergy != null" >
        #{inActiveEnergy,jdbcType=VARCHAR},
      </if>
      <if test="inReactiveEnergy != null" >
        #{inReactiveEnergy,jdbcType=VARCHAR},
      </if>
      <if test="inSeenEnergy != null" >
        #{inSeenEnergy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nnlightctl.po.LightingVolEleRecordExample" resultType="java.lang.Integer" >
    select count(*) from nnlightctl_lighting_vol_ele_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nnlightctl_lighting_vol_ele_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtUpdated != null" >
        gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.recordDatetime != null" >
        record_datetime = #{record.recordDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.voltage != null" >
        voltage = #{record.voltage,jdbcType=DECIMAL},
      </if>
      <if test="record.electricty != null" >
        electricty = #{record.electricty,jdbcType=DECIMAL},
      </if>
      <if test="record.energy != null" >
        energy = #{record.energy,jdbcType=DECIMAL},
      </if>
      <if test="record.dampness != null" >
        dampness = #{record.dampness,jdbcType=DECIMAL},
      </if>
      <if test="record.temperature != null" >
        temperature = #{record.temperature,jdbcType=DECIMAL},
      </if>
      <if test="record.beam != null" >
        beam = #{record.beam,jdbcType=DECIMAL},
      </if>
      <if test="record.signalIntensity != null" >
        signal_intensity = #{record.signalIntensity,jdbcType=DECIMAL},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.inElectricity != null" >
        in_electricity = #{record.inElectricity,jdbcType=VARCHAR},
      </if>
      <if test="record.inVoltage != null" >
        in_voltage = #{record.inVoltage,jdbcType=VARCHAR},
      </if>
      <if test="record.elecFrequency != null" >
        elec_frequency = #{record.elecFrequency,jdbcType=VARCHAR},
      </if>
      <if test="record.inActivePower != null" >
        in_active_power = #{record.inActivePower,jdbcType=VARCHAR},
      </if>
      <if test="record.inReactivePower != null" >
        in_reactive_power = #{record.inReactivePower,jdbcType=VARCHAR},
      </if>
      <if test="record.inSeenPower != null" >
        in_seen_power = #{record.inSeenPower,jdbcType=VARCHAR},
      </if>
      <if test="record.inActiveEnergy != null" >
        in_active_energy = #{record.inActiveEnergy,jdbcType=VARCHAR},
      </if>
      <if test="record.inReactiveEnergy != null" >
        in_reactive_energy = #{record.inReactiveEnergy,jdbcType=VARCHAR},
      </if>
      <if test="record.inSeenEnergy != null" >
        in_seen_energy = #{record.inSeenEnergy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nnlightctl_lighting_vol_ele_record
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      uid = #{record.uid,jdbcType=VARCHAR},
      record_datetime = #{record.recordDatetime,jdbcType=TIMESTAMP},
      voltage = #{record.voltage,jdbcType=DECIMAL},
      electricty = #{record.electricty,jdbcType=DECIMAL},
      energy = #{record.energy,jdbcType=DECIMAL},
      dampness = #{record.dampness,jdbcType=DECIMAL},
      temperature = #{record.temperature,jdbcType=DECIMAL},
      beam = #{record.beam,jdbcType=DECIMAL},
      signal_intensity = #{record.signalIntensity,jdbcType=DECIMAL},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      in_electricity = #{record.inElectricity,jdbcType=VARCHAR},
      in_voltage = #{record.inVoltage,jdbcType=VARCHAR},
      elec_frequency = #{record.elecFrequency,jdbcType=VARCHAR},
      in_active_power = #{record.inActivePower,jdbcType=VARCHAR},
      in_reactive_power = #{record.inReactivePower,jdbcType=VARCHAR},
      in_seen_power = #{record.inSeenPower,jdbcType=VARCHAR},
      in_active_energy = #{record.inActiveEnergy,jdbcType=VARCHAR},
      in_reactive_energy = #{record.inReactiveEnergy,jdbcType=VARCHAR},
      in_seen_energy = #{record.inSeenEnergy,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nnlightctl.po.LightingVolEleRecord" >
    update nnlightctl_lighting_vol_ele_record
    <set >
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="recordDatetime != null" >
        record_datetime = #{recordDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="voltage != null" >
        voltage = #{voltage,jdbcType=DECIMAL},
      </if>
      <if test="electricty != null" >
        electricty = #{electricty,jdbcType=DECIMAL},
      </if>
      <if test="energy != null" >
        energy = #{energy,jdbcType=DECIMAL},
      </if>
      <if test="dampness != null" >
        dampness = #{dampness,jdbcType=DECIMAL},
      </if>
      <if test="temperature != null" >
        temperature = #{temperature,jdbcType=DECIMAL},
      </if>
      <if test="beam != null" >
        beam = #{beam,jdbcType=DECIMAL},
      </if>
      <if test="signalIntensity != null" >
        signal_intensity = #{signalIntensity,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="inElectricity != null" >
        in_electricity = #{inElectricity,jdbcType=VARCHAR},
      </if>
      <if test="inVoltage != null" >
        in_voltage = #{inVoltage,jdbcType=VARCHAR},
      </if>
      <if test="elecFrequency != null" >
        elec_frequency = #{elecFrequency,jdbcType=VARCHAR},
      </if>
      <if test="inActivePower != null" >
        in_active_power = #{inActivePower,jdbcType=VARCHAR},
      </if>
      <if test="inReactivePower != null" >
        in_reactive_power = #{inReactivePower,jdbcType=VARCHAR},
      </if>
      <if test="inSeenPower != null" >
        in_seen_power = #{inSeenPower,jdbcType=VARCHAR},
      </if>
      <if test="inActiveEnergy != null" >
        in_active_energy = #{inActiveEnergy,jdbcType=VARCHAR},
      </if>
      <if test="inReactiveEnergy != null" >
        in_reactive_energy = #{inReactiveEnergy,jdbcType=VARCHAR},
      </if>
      <if test="inSeenEnergy != null" >
        in_seen_energy = #{inSeenEnergy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nnlightctl.po.LightingVolEleRecord" >
    update nnlightctl_lighting_vol_ele_record
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=VARCHAR},
      record_datetime = #{recordDatetime,jdbcType=TIMESTAMP},
      voltage = #{voltage,jdbcType=DECIMAL},
      electricty = #{electricty,jdbcType=DECIMAL},
      energy = #{energy,jdbcType=DECIMAL},
      dampness = #{dampness,jdbcType=DECIMAL},
      temperature = #{temperature,jdbcType=DECIMAL},
      beam = #{beam,jdbcType=DECIMAL},
      signal_intensity = #{signalIntensity,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      in_electricity = #{inElectricity,jdbcType=VARCHAR},
      in_voltage = #{inVoltage,jdbcType=VARCHAR},
      elec_frequency = #{elecFrequency,jdbcType=VARCHAR},
      in_active_power = #{inActivePower,jdbcType=VARCHAR},
      in_reactive_power = #{inReactivePower,jdbcType=VARCHAR},
      in_seen_power = #{inSeenPower,jdbcType=VARCHAR},
      in_active_energy = #{inActiveEnergy,jdbcType=VARCHAR},
      in_reactive_energy = #{inReactiveEnergy,jdbcType=VARCHAR},
      in_seen_energy = #{inSeenEnergy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>