<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nnlightctl.dao.LightingMapper" >
  <resultMap id="BaseResultMap" type="com.nnlightctl.po.Lighting" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_updated" property="gmtUpdated" jdbcType="TIMESTAMP" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="manufacture" property="manufacture" jdbcType="TIMESTAMP" />
    <result column="use_date" property="useDate" jdbcType="TIMESTAMP" />
    <result column="lamppost" property="lamppost" jdbcType="VARCHAR" />
    <result column="lamphead" property="lamphead" jdbcType="VARCHAR" />
    <result column="nnlightctl_lighting_model_id" property="nnlightctlLightingModelId" jdbcType="BIGINT" />
    <result column="nnlightctl_lighting_gis_id" property="nnlightctlLightingGisId" jdbcType="BIGINT" />
    <result column="property_serial_number" property="propertySerialNumber" jdbcType="VARCHAR" />
    <result column="decay" property="decay" jdbcType="DECIMAL" />
    <result column="max_use_time" property="maxUseTime" jdbcType="BIGINT" />
    <result column="mem" property="mem" jdbcType="VARCHAR" />
    <result column="nnlightctl_elebox_model_loop_id" property="nnlightctlEleboxModelLoopId" jdbcType="BIGINT" />
    <result column="nnlightctl_region_id" property="nnlightctlRegionId" jdbcType="BIGINT" />
    <result column="nnlightctl_project_id" property="nnlightctlProjectId" jdbcType="BIGINT" />
    <result column="nnlightctl_elebox_id" property="nnlightctlEleboxId" jdbcType="BIGINT" />
    <result column="loop_priority" property="loopPriority" jdbcType="TINYINT" />
    <result column="fault_tag" property="faultTag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_updated, uid, manufacture, use_date, lamppost, lamphead, nnlightctl_lighting_model_id, 
    nnlightctl_lighting_gis_id, property_serial_number, decay, max_use_time, mem, nnlightctl_elebox_model_loop_id, 
    nnlightctl_region_id, nnlightctl_project_id, nnlightctl_elebox_id, loop_priority, 
    fault_tag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nnlightctl.po.LightingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from nnlightctl_lighting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from nnlightctl_lighting
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from nnlightctl_lighting
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.nnlightctl.po.LightingExample" >
    delete from nnlightctl_lighting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nnlightctl.po.Lighting" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nnlightctl_lighting (gmt_created, gmt_updated, uid, 
      manufacture, use_date, lamppost, 
      lamphead, nnlightctl_lighting_model_id, nnlightctl_lighting_gis_id, 
      property_serial_number, decay, max_use_time, 
      mem, nnlightctl_elebox_model_loop_id, nnlightctl_region_id, 
      nnlightctl_project_id, nnlightctl_elebox_id, 
      loop_priority, fault_tag)
    values (#{gmtCreated,jdbcType=TIMESTAMP}, #{gmtUpdated,jdbcType=TIMESTAMP}, #{uid,jdbcType=VARCHAR}, 
      #{manufacture,jdbcType=TIMESTAMP}, #{useDate,jdbcType=TIMESTAMP}, #{lamppost,jdbcType=VARCHAR}, 
      #{lamphead,jdbcType=VARCHAR}, #{nnlightctlLightingModelId,jdbcType=BIGINT}, #{nnlightctlLightingGisId,jdbcType=BIGINT}, 
      #{propertySerialNumber,jdbcType=VARCHAR}, #{decay,jdbcType=DECIMAL}, #{maxUseTime,jdbcType=BIGINT}, 
      #{mem,jdbcType=VARCHAR}, #{nnlightctlEleboxModelLoopId,jdbcType=BIGINT}, #{nnlightctlRegionId,jdbcType=BIGINT}, 
      #{nnlightctlProjectId,jdbcType=BIGINT}, #{nnlightctlEleboxId,jdbcType=BIGINT}, 
      #{loopPriority,jdbcType=TINYINT}, #{faultTag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.nnlightctl.po.Lighting" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nnlightctl_lighting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="manufacture != null" >
        manufacture,
      </if>
      <if test="useDate != null" >
        use_date,
      </if>
      <if test="lamppost != null" >
        lamppost,
      </if>
      <if test="lamphead != null" >
        lamphead,
      </if>
      <if test="nnlightctlLightingModelId != null" >
        nnlightctl_lighting_model_id,
      </if>
      <if test="nnlightctlLightingGisId != null" >
        nnlightctl_lighting_gis_id,
      </if>
      <if test="propertySerialNumber != null" >
        property_serial_number,
      </if>
      <if test="decay != null" >
        decay,
      </if>
      <if test="maxUseTime != null" >
        max_use_time,
      </if>
      <if test="mem != null" >
        mem,
      </if>
      <if test="nnlightctlEleboxModelLoopId != null" >
        nnlightctl_elebox_model_loop_id,
      </if>
      <if test="nnlightctlRegionId != null" >
        nnlightctl_region_id,
      </if>
      <if test="nnlightctlProjectId != null" >
        nnlightctl_project_id,
      </if>
      <if test="nnlightctlEleboxId != null" >
        nnlightctl_elebox_id,
      </if>
      <if test="loopPriority != null" >
        loop_priority,
      </if>
      <if test="faultTag != null" >
        fault_tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="manufacture != null" >
        #{manufacture,jdbcType=TIMESTAMP},
      </if>
      <if test="useDate != null" >
        #{useDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lamppost != null" >
        #{lamppost,jdbcType=VARCHAR},
      </if>
      <if test="lamphead != null" >
        #{lamphead,jdbcType=VARCHAR},
      </if>
      <if test="nnlightctlLightingModelId != null" >
        #{nnlightctlLightingModelId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlLightingGisId != null" >
        #{nnlightctlLightingGisId,jdbcType=BIGINT},
      </if>
      <if test="propertySerialNumber != null" >
        #{propertySerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="decay != null" >
        #{decay,jdbcType=DECIMAL},
      </if>
      <if test="maxUseTime != null" >
        #{maxUseTime,jdbcType=BIGINT},
      </if>
      <if test="mem != null" >
        #{mem,jdbcType=VARCHAR},
      </if>
      <if test="nnlightctlEleboxModelLoopId != null" >
        #{nnlightctlEleboxModelLoopId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlRegionId != null" >
        #{nnlightctlRegionId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlProjectId != null" >
        #{nnlightctlProjectId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlEleboxId != null" >
        #{nnlightctlEleboxId,jdbcType=BIGINT},
      </if>
      <if test="loopPriority != null" >
        #{loopPriority,jdbcType=TINYINT},
      </if>
      <if test="faultTag != null" >
        #{faultTag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nnlightctl.po.LightingExample" resultType="java.lang.Integer" >
    select count(*) from nnlightctl_lighting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nnlightctl_lighting
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtUpdated != null" >
        gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.manufacture != null" >
        manufacture = #{record.manufacture,jdbcType=TIMESTAMP},
      </if>
      <if test="record.useDate != null" >
        use_date = #{record.useDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lamppost != null" >
        lamppost = #{record.lamppost,jdbcType=VARCHAR},
      </if>
      <if test="record.lamphead != null" >
        lamphead = #{record.lamphead,jdbcType=VARCHAR},
      </if>
      <if test="record.nnlightctlLightingModelId != null" >
        nnlightctl_lighting_model_id = #{record.nnlightctlLightingModelId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlLightingGisId != null" >
        nnlightctl_lighting_gis_id = #{record.nnlightctlLightingGisId,jdbcType=BIGINT},
      </if>
      <if test="record.propertySerialNumber != null" >
        property_serial_number = #{record.propertySerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.decay != null" >
        decay = #{record.decay,jdbcType=DECIMAL},
      </if>
      <if test="record.maxUseTime != null" >
        max_use_time = #{record.maxUseTime,jdbcType=BIGINT},
      </if>
      <if test="record.mem != null" >
        mem = #{record.mem,jdbcType=VARCHAR},
      </if>
      <if test="record.nnlightctlEleboxModelLoopId != null" >
        nnlightctl_elebox_model_loop_id = #{record.nnlightctlEleboxModelLoopId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlRegionId != null" >
        nnlightctl_region_id = #{record.nnlightctlRegionId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlProjectId != null" >
        nnlightctl_project_id = #{record.nnlightctlProjectId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlEleboxId != null" >
        nnlightctl_elebox_id = #{record.nnlightctlEleboxId,jdbcType=BIGINT},
      </if>
      <if test="record.loopPriority != null" >
        loop_priority = #{record.loopPriority,jdbcType=TINYINT},
      </if>
      <if test="record.faultTag != null" >
        fault_tag = #{record.faultTag,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nnlightctl_lighting
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      uid = #{record.uid,jdbcType=VARCHAR},
      manufacture = #{record.manufacture,jdbcType=TIMESTAMP},
      use_date = #{record.useDate,jdbcType=TIMESTAMP},
      lamppost = #{record.lamppost,jdbcType=VARCHAR},
      lamphead = #{record.lamphead,jdbcType=VARCHAR},
      nnlightctl_lighting_model_id = #{record.nnlightctlLightingModelId,jdbcType=BIGINT},
      nnlightctl_lighting_gis_id = #{record.nnlightctlLightingGisId,jdbcType=BIGINT},
      property_serial_number = #{record.propertySerialNumber,jdbcType=VARCHAR},
      decay = #{record.decay,jdbcType=DECIMAL},
      max_use_time = #{record.maxUseTime,jdbcType=BIGINT},
      mem = #{record.mem,jdbcType=VARCHAR},
      nnlightctl_elebox_model_loop_id = #{record.nnlightctlEleboxModelLoopId,jdbcType=BIGINT},
      nnlightctl_region_id = #{record.nnlightctlRegionId,jdbcType=BIGINT},
      nnlightctl_project_id = #{record.nnlightctlProjectId,jdbcType=BIGINT},
      nnlightctl_elebox_id = #{record.nnlightctlEleboxId,jdbcType=BIGINT},
      loop_priority = #{record.loopPriority,jdbcType=TINYINT},
      fault_tag = #{record.faultTag,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nnlightctl.po.Lighting" >
    update nnlightctl_lighting
    <set >
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="manufacture != null" >
        manufacture = #{manufacture,jdbcType=TIMESTAMP},
      </if>
      <if test="useDate != null" >
        use_date = #{useDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lamppost != null" >
        lamppost = #{lamppost,jdbcType=VARCHAR},
      </if>
      <if test="lamphead != null" >
        lamphead = #{lamphead,jdbcType=VARCHAR},
      </if>
      <if test="nnlightctlLightingModelId != null" >
        nnlightctl_lighting_model_id = #{nnlightctlLightingModelId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlLightingGisId != null" >
        nnlightctl_lighting_gis_id = #{nnlightctlLightingGisId,jdbcType=BIGINT},
      </if>
      <if test="propertySerialNumber != null" >
        property_serial_number = #{propertySerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="decay != null" >
        decay = #{decay,jdbcType=DECIMAL},
      </if>
      <if test="maxUseTime != null" >
        max_use_time = #{maxUseTime,jdbcType=BIGINT},
      </if>
      <if test="mem != null" >
        mem = #{mem,jdbcType=VARCHAR},
      </if>
      <if test="nnlightctlEleboxModelLoopId != null" >
        nnlightctl_elebox_model_loop_id = #{nnlightctlEleboxModelLoopId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlRegionId != null" >
        nnlightctl_region_id = #{nnlightctlRegionId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlProjectId != null" >
        nnlightctl_project_id = #{nnlightctlProjectId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlEleboxId != null" >
        nnlightctl_elebox_id = #{nnlightctlEleboxId,jdbcType=BIGINT},
      </if>
      <if test="loopPriority != null" >
        loop_priority = #{loopPriority,jdbcType=TINYINT},
      </if>
      <if test="faultTag != null" >
        fault_tag = #{faultTag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nnlightctl.po.Lighting" >
    update nnlightctl_lighting
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=VARCHAR},
      manufacture = #{manufacture,jdbcType=TIMESTAMP},
      use_date = #{useDate,jdbcType=TIMESTAMP},
      lamppost = #{lamppost,jdbcType=VARCHAR},
      lamphead = #{lamphead,jdbcType=VARCHAR},
      nnlightctl_lighting_model_id = #{nnlightctlLightingModelId,jdbcType=BIGINT},
      nnlightctl_lighting_gis_id = #{nnlightctlLightingGisId,jdbcType=BIGINT},
      property_serial_number = #{propertySerialNumber,jdbcType=VARCHAR},
      decay = #{decay,jdbcType=DECIMAL},
      max_use_time = #{maxUseTime,jdbcType=BIGINT},
      mem = #{mem,jdbcType=VARCHAR},
      nnlightctl_elebox_model_loop_id = #{nnlightctlEleboxModelLoopId,jdbcType=BIGINT},
      nnlightctl_region_id = #{nnlightctlRegionId,jdbcType=BIGINT},
      nnlightctl_project_id = #{nnlightctlProjectId,jdbcType=BIGINT},
      nnlightctl_elebox_id = #{nnlightctlEleboxId,jdbcType=BIGINT},
      loop_priority = #{loopPriority,jdbcType=TINYINT},
      fault_tag = #{faultTag,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>