<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nnlightctl.dao.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.nnlightctl.po.Project" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_updated" property="gmtUpdated" jdbcType="TIMESTAMP" />
    <result column="code_number" property="codeNumber" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="ctype" property="ctype" jdbcType="TINYINT" />
    <result column="nnlightctl_project_country_id" property="nnlightctlProjectCountryId" jdbcType="BIGINT" />
    <result column="nnlightctl_project_province_id" property="nnlightctlProjectProvinceId" jdbcType="BIGINT" />
    <result column="nnlightctl_project_city_id" property="nnlightctlProjectCityId" jdbcType="BIGINT" />
    <result column="nnlightctl_institution_id" property="nnlightctlInstitutionId" jdbcType="BIGINT" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="mem" property="mem" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_updated, code_number, project_name, ctype, nnlightctl_project_country_id, 
    nnlightctl_project_province_id, nnlightctl_project_city_id, nnlightctl_institution_id, 
    longitude, latitude, mem, state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nnlightctl.po.ProjectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from nnlightctl_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from nnlightctl_project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from nnlightctl_project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.nnlightctl.po.ProjectExample" >
    delete from nnlightctl_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nnlightctl.po.Project" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nnlightctl_project (gmt_created, gmt_updated, code_number, 
      project_name, ctype, nnlightctl_project_country_id, 
      nnlightctl_project_province_id, nnlightctl_project_city_id, 
      nnlightctl_institution_id, longitude, latitude, 
      mem, state)
    values (#{gmtCreated,jdbcType=TIMESTAMP}, #{gmtUpdated,jdbcType=TIMESTAMP}, #{codeNumber,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{ctype,jdbcType=TINYINT}, #{nnlightctlProjectCountryId,jdbcType=BIGINT}, 
      #{nnlightctlProjectProvinceId,jdbcType=BIGINT}, #{nnlightctlProjectCityId,jdbcType=BIGINT}, 
      #{nnlightctlInstitutionId,jdbcType=BIGINT}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{mem,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.nnlightctl.po.Project" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nnlightctl_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated,
      </if>
      <if test="codeNumber != null" >
        code_number,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="ctype != null" >
        ctype,
      </if>
      <if test="nnlightctlProjectCountryId != null" >
        nnlightctl_project_country_id,
      </if>
      <if test="nnlightctlProjectProvinceId != null" >
        nnlightctl_project_province_id,
      </if>
      <if test="nnlightctlProjectCityId != null" >
        nnlightctl_project_city_id,
      </if>
      <if test="nnlightctlInstitutionId != null" >
        nnlightctl_institution_id,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="mem != null" >
        mem,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="codeNumber != null" >
        #{codeNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=TINYINT},
      </if>
      <if test="nnlightctlProjectCountryId != null" >
        #{nnlightctlProjectCountryId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlProjectProvinceId != null" >
        #{nnlightctlProjectProvinceId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlProjectCityId != null" >
        #{nnlightctlProjectCityId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlInstitutionId != null" >
        #{nnlightctlInstitutionId,jdbcType=BIGINT},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="mem != null" >
        #{mem,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nnlightctl.po.ProjectExample" resultType="java.lang.Integer" >
    select count(*) from nnlightctl_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nnlightctl_project
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtUpdated != null" >
        gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.codeNumber != null" >
        code_number = #{record.codeNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null" >
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.ctype != null" >
        ctype = #{record.ctype,jdbcType=TINYINT},
      </if>
      <if test="record.nnlightctlProjectCountryId != null" >
        nnlightctl_project_country_id = #{record.nnlightctlProjectCountryId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlProjectProvinceId != null" >
        nnlightctl_project_province_id = #{record.nnlightctlProjectProvinceId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlProjectCityId != null" >
        nnlightctl_project_city_id = #{record.nnlightctlProjectCityId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlInstitutionId != null" >
        nnlightctl_institution_id = #{record.nnlightctlInstitutionId,jdbcType=BIGINT},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.mem != null" >
        mem = #{record.mem,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nnlightctl_project
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      code_number = #{record.codeNumber,jdbcType=VARCHAR},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      ctype = #{record.ctype,jdbcType=TINYINT},
      nnlightctl_project_country_id = #{record.nnlightctlProjectCountryId,jdbcType=BIGINT},
      nnlightctl_project_province_id = #{record.nnlightctlProjectProvinceId,jdbcType=BIGINT},
      nnlightctl_project_city_id = #{record.nnlightctlProjectCityId,jdbcType=BIGINT},
      nnlightctl_institution_id = #{record.nnlightctlInstitutionId,jdbcType=BIGINT},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      mem = #{record.mem,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nnlightctl.po.Project" >
    update nnlightctl_project
    <set >
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="codeNumber != null" >
        code_number = #{codeNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        ctype = #{ctype,jdbcType=TINYINT},
      </if>
      <if test="nnlightctlProjectCountryId != null" >
        nnlightctl_project_country_id = #{nnlightctlProjectCountryId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlProjectProvinceId != null" >
        nnlightctl_project_province_id = #{nnlightctlProjectProvinceId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlProjectCityId != null" >
        nnlightctl_project_city_id = #{nnlightctlProjectCityId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlInstitutionId != null" >
        nnlightctl_institution_id = #{nnlightctlInstitutionId,jdbcType=BIGINT},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="mem != null" >
        mem = #{mem,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nnlightctl.po.Project" >
    update nnlightctl_project
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      code_number = #{codeNumber,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      ctype = #{ctype,jdbcType=TINYINT},
      nnlightctl_project_country_id = #{nnlightctlProjectCountryId,jdbcType=BIGINT},
      nnlightctl_project_province_id = #{nnlightctlProjectProvinceId,jdbcType=BIGINT},
      nnlightctl_project_city_id = #{nnlightctlProjectCityId,jdbcType=BIGINT},
      nnlightctl_institution_id = #{nnlightctlInstitutionId,jdbcType=BIGINT},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      mem = #{mem,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>