<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nnlightctl.dao.PropertyMapper" >
  <resultMap id="BaseResultMap" type="com.nnlightctl.po.Property" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_updated" property="gmtUpdated" jdbcType="TIMESTAMP" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="property_record_datetime" property="propertyRecordDatetime" jdbcType="TIMESTAMP" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="ctype" property="ctype" jdbcType="TINYINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="comman_property" property="commanProperty" jdbcType="VARCHAR" />
    <result column="property_manager_id" property="propertyManagerId" jdbcType="BIGINT" />
    <result column="nnlightctl_property_id" property="nnlightctlPropertyId" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="nnlightctl_property_classify_catalog_id" property="nnlightctlPropertyClassifyCatalogId" jdbcType="BIGINT" />
    <result column="property_classify_catalog_desc" property="propertyClassifyCatalogDesc" jdbcType="VARCHAR" />
    <result column="property_classify_catalog_name" property="propertyClassifyCatalogName" jdbcType="VARCHAR" />
    <result column="nnlightctl_user_applier_id" property="nnlightctlUserApplierId" jdbcType="BIGINT" />
    <result column="property_count" property="propertyCount" jdbcType="BIGINT" />
    <result column="apply_state" property="applyState" jdbcType="TINYINT" />
    <result column="in_out_state" property="inOutState" jdbcType="TINYINT" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="reasonid" property="reasonid" jdbcType="BIGINT" />
    <result column="mem" property="mem" jdbcType="VARCHAR" />
    <result column="nnlightctl_user_id" property="nnlightctlUserId" jdbcType="BIGINT" />
    <result column="nnlightctl_repertory_id" property="nnlightctlRepertoryId" jdbcType="BIGINT" />
    <result column="nnlightctl_supplier_id" property="nnlightctlSupplierId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_updated, uid, property_record_datetime, longitude, latitude, 
    ctype, price, comman_property, property_manager_id, nnlightctl_property_id, state, 
    nnlightctl_property_classify_catalog_id, property_classify_catalog_desc, property_classify_catalog_name, 
    nnlightctl_user_applier_id, property_count, apply_state, in_out_state, reason, reasonid, 
    mem, nnlightctl_user_id, nnlightctl_repertory_id, nnlightctl_supplier_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nnlightctl.po.PropertyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from nnlightctl_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from nnlightctl_property
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from nnlightctl_property
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.nnlightctl.po.PropertyExample" >
    delete from nnlightctl_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nnlightctl.po.Property" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nnlightctl_property (gmt_created, gmt_updated, uid, 
      property_record_datetime, longitude, latitude, 
      ctype, price, comman_property, 
      property_manager_id, nnlightctl_property_id, 
      state, nnlightctl_property_classify_catalog_id, 
      property_classify_catalog_desc, property_classify_catalog_name, 
      nnlightctl_user_applier_id, property_count, apply_state, 
      in_out_state, reason, reasonid, 
      mem, nnlightctl_user_id, nnlightctl_repertory_id, 
      nnlightctl_supplier_id)
    values (#{gmtCreated,jdbcType=TIMESTAMP}, #{gmtUpdated,jdbcType=TIMESTAMP}, #{uid,jdbcType=VARCHAR}, 
      #{propertyRecordDatetime,jdbcType=TIMESTAMP}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{ctype,jdbcType=TINYINT}, #{price,jdbcType=DECIMAL}, #{commanProperty,jdbcType=VARCHAR}, 
      #{propertyManagerId,jdbcType=BIGINT}, #{nnlightctlPropertyId,jdbcType=BIGINT}, 
      #{state,jdbcType=TINYINT}, #{nnlightctlPropertyClassifyCatalogId,jdbcType=BIGINT}, 
      #{propertyClassifyCatalogDesc,jdbcType=VARCHAR}, #{propertyClassifyCatalogName,jdbcType=VARCHAR}, 
      #{nnlightctlUserApplierId,jdbcType=BIGINT}, #{propertyCount,jdbcType=BIGINT}, #{applyState,jdbcType=TINYINT}, 
      #{inOutState,jdbcType=TINYINT}, #{reason,jdbcType=VARCHAR}, #{reasonid,jdbcType=BIGINT}, 
      #{mem,jdbcType=VARCHAR}, #{nnlightctlUserId,jdbcType=BIGINT}, #{nnlightctlRepertoryId,jdbcType=BIGINT}, 
      #{nnlightctlSupplierId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.nnlightctl.po.Property" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nnlightctl_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="propertyRecordDatetime != null" >
        property_record_datetime,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="ctype != null" >
        ctype,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="commanProperty != null" >
        comman_property,
      </if>
      <if test="propertyManagerId != null" >
        property_manager_id,
      </if>
      <if test="nnlightctlPropertyId != null" >
        nnlightctl_property_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="nnlightctlPropertyClassifyCatalogId != null" >
        nnlightctl_property_classify_catalog_id,
      </if>
      <if test="propertyClassifyCatalogDesc != null" >
        property_classify_catalog_desc,
      </if>
      <if test="propertyClassifyCatalogName != null" >
        property_classify_catalog_name,
      </if>
      <if test="nnlightctlUserApplierId != null" >
        nnlightctl_user_applier_id,
      </if>
      <if test="propertyCount != null" >
        property_count,
      </if>
      <if test="applyState != null" >
        apply_state,
      </if>
      <if test="inOutState != null" >
        in_out_state,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="reasonid != null" >
        reasonid,
      </if>
      <if test="mem != null" >
        mem,
      </if>
      <if test="nnlightctlUserId != null" >
        nnlightctl_user_id,
      </if>
      <if test="nnlightctlRepertoryId != null" >
        nnlightctl_repertory_id,
      </if>
      <if test="nnlightctlSupplierId != null" >
        nnlightctl_supplier_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="propertyRecordDatetime != null" >
        #{propertyRecordDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=TINYINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="commanProperty != null" >
        #{commanProperty,jdbcType=VARCHAR},
      </if>
      <if test="propertyManagerId != null" >
        #{propertyManagerId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlPropertyId != null" >
        #{nnlightctlPropertyId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="nnlightctlPropertyClassifyCatalogId != null" >
        #{nnlightctlPropertyClassifyCatalogId,jdbcType=BIGINT},
      </if>
      <if test="propertyClassifyCatalogDesc != null" >
        #{propertyClassifyCatalogDesc,jdbcType=VARCHAR},
      </if>
      <if test="propertyClassifyCatalogName != null" >
        #{propertyClassifyCatalogName,jdbcType=VARCHAR},
      </if>
      <if test="nnlightctlUserApplierId != null" >
        #{nnlightctlUserApplierId,jdbcType=BIGINT},
      </if>
      <if test="propertyCount != null" >
        #{propertyCount,jdbcType=BIGINT},
      </if>
      <if test="applyState != null" >
        #{applyState,jdbcType=TINYINT},
      </if>
      <if test="inOutState != null" >
        #{inOutState,jdbcType=TINYINT},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="reasonid != null" >
        #{reasonid,jdbcType=BIGINT},
      </if>
      <if test="mem != null" >
        #{mem,jdbcType=VARCHAR},
      </if>
      <if test="nnlightctlUserId != null" >
        #{nnlightctlUserId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlRepertoryId != null" >
        #{nnlightctlRepertoryId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlSupplierId != null" >
        #{nnlightctlSupplierId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nnlightctl.po.PropertyExample" resultType="java.lang.Integer" >
    select count(*) from nnlightctl_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nnlightctl_property
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtUpdated != null" >
        gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyRecordDatetime != null" >
        property_record_datetime = #{record.propertyRecordDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.ctype != null" >
        ctype = #{record.ctype,jdbcType=TINYINT},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.commanProperty != null" >
        comman_property = #{record.commanProperty,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyManagerId != null" >
        property_manager_id = #{record.propertyManagerId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlPropertyId != null" >
        nnlightctl_property_id = #{record.nnlightctlPropertyId,jdbcType=BIGINT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.nnlightctlPropertyClassifyCatalogId != null" >
        nnlightctl_property_classify_catalog_id = #{record.nnlightctlPropertyClassifyCatalogId,jdbcType=BIGINT},
      </if>
      <if test="record.propertyClassifyCatalogDesc != null" >
        property_classify_catalog_desc = #{record.propertyClassifyCatalogDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyClassifyCatalogName != null" >
        property_classify_catalog_name = #{record.propertyClassifyCatalogName,jdbcType=VARCHAR},
      </if>
      <if test="record.nnlightctlUserApplierId != null" >
        nnlightctl_user_applier_id = #{record.nnlightctlUserApplierId,jdbcType=BIGINT},
      </if>
      <if test="record.propertyCount != null" >
        property_count = #{record.propertyCount,jdbcType=BIGINT},
      </if>
      <if test="record.applyState != null" >
        apply_state = #{record.applyState,jdbcType=TINYINT},
      </if>
      <if test="record.inOutState != null" >
        in_out_state = #{record.inOutState,jdbcType=TINYINT},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.reasonid != null" >
        reasonid = #{record.reasonid,jdbcType=BIGINT},
      </if>
      <if test="record.mem != null" >
        mem = #{record.mem,jdbcType=VARCHAR},
      </if>
      <if test="record.nnlightctlUserId != null" >
        nnlightctl_user_id = #{record.nnlightctlUserId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlRepertoryId != null" >
        nnlightctl_repertory_id = #{record.nnlightctlRepertoryId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlSupplierId != null" >
        nnlightctl_supplier_id = #{record.nnlightctlSupplierId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nnlightctl_property
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      uid = #{record.uid,jdbcType=VARCHAR},
      property_record_datetime = #{record.propertyRecordDatetime,jdbcType=TIMESTAMP},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      ctype = #{record.ctype,jdbcType=TINYINT},
      price = #{record.price,jdbcType=DECIMAL},
      comman_property = #{record.commanProperty,jdbcType=VARCHAR},
      property_manager_id = #{record.propertyManagerId,jdbcType=BIGINT},
      nnlightctl_property_id = #{record.nnlightctlPropertyId,jdbcType=BIGINT},
      state = #{record.state,jdbcType=TINYINT},
      nnlightctl_property_classify_catalog_id = #{record.nnlightctlPropertyClassifyCatalogId,jdbcType=BIGINT},
      property_classify_catalog_desc = #{record.propertyClassifyCatalogDesc,jdbcType=VARCHAR},
      property_classify_catalog_name = #{record.propertyClassifyCatalogName,jdbcType=VARCHAR},
      nnlightctl_user_applier_id = #{record.nnlightctlUserApplierId,jdbcType=BIGINT},
      property_count = #{record.propertyCount,jdbcType=BIGINT},
      apply_state = #{record.applyState,jdbcType=TINYINT},
      in_out_state = #{record.inOutState,jdbcType=TINYINT},
      reason = #{record.reason,jdbcType=VARCHAR},
      reasonid = #{record.reasonid,jdbcType=BIGINT},
      mem = #{record.mem,jdbcType=VARCHAR},
      nnlightctl_user_id = #{record.nnlightctlUserId,jdbcType=BIGINT},
      nnlightctl_repertory_id = #{record.nnlightctlRepertoryId,jdbcType=BIGINT},
      nnlightctl_supplier_id = #{record.nnlightctlSupplierId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nnlightctl.po.Property" >
    update nnlightctl_property
    <set >
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="propertyRecordDatetime != null" >
        property_record_datetime = #{propertyRecordDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        ctype = #{ctype,jdbcType=TINYINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="commanProperty != null" >
        comman_property = #{commanProperty,jdbcType=VARCHAR},
      </if>
      <if test="propertyManagerId != null" >
        property_manager_id = #{propertyManagerId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlPropertyId != null" >
        nnlightctl_property_id = #{nnlightctlPropertyId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="nnlightctlPropertyClassifyCatalogId != null" >
        nnlightctl_property_classify_catalog_id = #{nnlightctlPropertyClassifyCatalogId,jdbcType=BIGINT},
      </if>
      <if test="propertyClassifyCatalogDesc != null" >
        property_classify_catalog_desc = #{propertyClassifyCatalogDesc,jdbcType=VARCHAR},
      </if>
      <if test="propertyClassifyCatalogName != null" >
        property_classify_catalog_name = #{propertyClassifyCatalogName,jdbcType=VARCHAR},
      </if>
      <if test="nnlightctlUserApplierId != null" >
        nnlightctl_user_applier_id = #{nnlightctlUserApplierId,jdbcType=BIGINT},
      </if>
      <if test="propertyCount != null" >
        property_count = #{propertyCount,jdbcType=BIGINT},
      </if>
      <if test="applyState != null" >
        apply_state = #{applyState,jdbcType=TINYINT},
      </if>
      <if test="inOutState != null" >
        in_out_state = #{inOutState,jdbcType=TINYINT},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="reasonid != null" >
        reasonid = #{reasonid,jdbcType=BIGINT},
      </if>
      <if test="mem != null" >
        mem = #{mem,jdbcType=VARCHAR},
      </if>
      <if test="nnlightctlUserId != null" >
        nnlightctl_user_id = #{nnlightctlUserId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlRepertoryId != null" >
        nnlightctl_repertory_id = #{nnlightctlRepertoryId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlSupplierId != null" >
        nnlightctl_supplier_id = #{nnlightctlSupplierId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nnlightctl.po.Property" >
    update nnlightctl_property
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=VARCHAR},
      property_record_datetime = #{propertyRecordDatetime,jdbcType=TIMESTAMP},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      ctype = #{ctype,jdbcType=TINYINT},
      price = #{price,jdbcType=DECIMAL},
      comman_property = #{commanProperty,jdbcType=VARCHAR},
      property_manager_id = #{propertyManagerId,jdbcType=BIGINT},
      nnlightctl_property_id = #{nnlightctlPropertyId,jdbcType=BIGINT},
      state = #{state,jdbcType=TINYINT},
      nnlightctl_property_classify_catalog_id = #{nnlightctlPropertyClassifyCatalogId,jdbcType=BIGINT},
      property_classify_catalog_desc = #{propertyClassifyCatalogDesc,jdbcType=VARCHAR},
      property_classify_catalog_name = #{propertyClassifyCatalogName,jdbcType=VARCHAR},
      nnlightctl_user_applier_id = #{nnlightctlUserApplierId,jdbcType=BIGINT},
      property_count = #{propertyCount,jdbcType=BIGINT},
      apply_state = #{applyState,jdbcType=TINYINT},
      in_out_state = #{inOutState,jdbcType=TINYINT},
      reason = #{reason,jdbcType=VARCHAR},
      reasonid = #{reasonid,jdbcType=BIGINT},
      mem = #{mem,jdbcType=VARCHAR},
      nnlightctl_user_id = #{nnlightctlUserId,jdbcType=BIGINT},
      nnlightctl_repertory_id = #{nnlightctlRepertoryId,jdbcType=BIGINT},
      nnlightctl_supplier_id = #{nnlightctlSupplierId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>