<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nnlightctl.dao.RepertoryInRecordMapper" >
  <resultMap id="BaseResultMap" type="com.nnlightctl.po.RepertoryInRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_updated" property="gmtUpdated" jdbcType="TIMESTAMP" />
    <result column="serialnumber" property="serialnumber" jdbcType="VARCHAR" />
    <result column="in_repertory_date" property="inRepertoryDate" jdbcType="TIMESTAMP" />
    <result column="nnlightctl_property_id" property="nnlightctlPropertyId" jdbcType="BIGINT" />
    <result column="nnlightctl_repertory_id" property="nnlightctlRepertoryId" jdbcType="BIGINT" />
    <result column="nnlightctl_user_id" property="nnlightctlUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, gmt_updated, serialnumber, in_repertory_date, nnlightctl_property_id, 
    nnlightctl_repertory_id, nnlightctl_user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nnlightctl.po.RepertoryInRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from nnlightctl_repertory_in_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from nnlightctl_repertory_in_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from nnlightctl_repertory_in_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.nnlightctl.po.RepertoryInRecordExample" >
    delete from nnlightctl_repertory_in_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nnlightctl.po.RepertoryInRecord" >
    insert into nnlightctl_repertory_in_record (id, gmt_created, gmt_updated, 
      serialnumber, in_repertory_date, nnlightctl_property_id, 
      nnlightctl_repertory_id, nnlightctl_user_id)
    values (#{id,jdbcType=BIGINT}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtUpdated,jdbcType=TIMESTAMP}, 
      #{serialnumber,jdbcType=VARCHAR}, #{inRepertoryDate,jdbcType=TIMESTAMP}, #{nnlightctlPropertyId,jdbcType=BIGINT}, 
      #{nnlightctlRepertoryId,jdbcType=BIGINT}, #{nnlightctlUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.nnlightctl.po.RepertoryInRecord" >
    insert into nnlightctl_repertory_in_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated,
      </if>
      <if test="serialnumber != null" >
        serialnumber,
      </if>
      <if test="inRepertoryDate != null" >
        in_repertory_date,
      </if>
      <if test="nnlightctlPropertyId != null" >
        nnlightctl_property_id,
      </if>
      <if test="nnlightctlRepertoryId != null" >
        nnlightctl_repertory_id,
      </if>
      <if test="nnlightctlUserId != null" >
        nnlightctl_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="serialnumber != null" >
        #{serialnumber,jdbcType=VARCHAR},
      </if>
      <if test="inRepertoryDate != null" >
        #{inRepertoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nnlightctlPropertyId != null" >
        #{nnlightctlPropertyId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlRepertoryId != null" >
        #{nnlightctlRepertoryId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlUserId != null" >
        #{nnlightctlUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nnlightctl.po.RepertoryInRecordExample" resultType="java.lang.Integer" >
    select count(*) from nnlightctl_repertory_in_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nnlightctl_repertory_in_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtUpdated != null" >
        gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.serialnumber != null" >
        serialnumber = #{record.serialnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.inRepertoryDate != null" >
        in_repertory_date = #{record.inRepertoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nnlightctlPropertyId != null" >
        nnlightctl_property_id = #{record.nnlightctlPropertyId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlRepertoryId != null" >
        nnlightctl_repertory_id = #{record.nnlightctlRepertoryId,jdbcType=BIGINT},
      </if>
      <if test="record.nnlightctlUserId != null" >
        nnlightctl_user_id = #{record.nnlightctlUserId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nnlightctl_repertory_in_record
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{record.gmtUpdated,jdbcType=TIMESTAMP},
      serialnumber = #{record.serialnumber,jdbcType=VARCHAR},
      in_repertory_date = #{record.inRepertoryDate,jdbcType=TIMESTAMP},
      nnlightctl_property_id = #{record.nnlightctlPropertyId,jdbcType=BIGINT},
      nnlightctl_repertory_id = #{record.nnlightctlRepertoryId,jdbcType=BIGINT},
      nnlightctl_user_id = #{record.nnlightctlUserId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nnlightctl.po.RepertoryInRecord" >
    update nnlightctl_repertory_in_record
    <set >
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null" >
        gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="serialnumber != null" >
        serialnumber = #{serialnumber,jdbcType=VARCHAR},
      </if>
      <if test="inRepertoryDate != null" >
        in_repertory_date = #{inRepertoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nnlightctlPropertyId != null" >
        nnlightctl_property_id = #{nnlightctlPropertyId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlRepertoryId != null" >
        nnlightctl_repertory_id = #{nnlightctlRepertoryId,jdbcType=BIGINT},
      </if>
      <if test="nnlightctlUserId != null" >
        nnlightctl_user_id = #{nnlightctlUserId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nnlightctl.po.RepertoryInRecord" >
    update nnlightctl_repertory_in_record
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      serialnumber = #{serialnumber,jdbcType=VARCHAR},
      in_repertory_date = #{inRepertoryDate,jdbcType=TIMESTAMP},
      nnlightctl_property_id = #{nnlightctlPropertyId,jdbcType=BIGINT},
      nnlightctl_repertory_id = #{nnlightctlRepertoryId,jdbcType=BIGINT},
      nnlightctl_user_id = #{nnlightctlUserId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>